/* ##### general ##### */
* {
  box-sizing: border-box;
  margin: 0 auto;
}

/* ##### Search ##### */
header {
  margin: 1.5rem 1rem;
}
input[type="text"] {
  margin: 0.2rem;
  font-size: 1.3rem;
  border: none;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 0 1.5rem;
  width: calc(100% - 0.4rem);
  height: 3.5rem;
}

/* ##### Countries List ##### */
ul {
  padding: 0;
  margin: 0.1rem 1rem;
}

li {
  position: relative;
  list-style: none;
  display: inline-block;
  padding: 0.25rem 0.75rem;
  margin: 2px;
  border-radius: 3px;
  color: #464545;
}
li:hover {
  cursor: pointer;
}

/* ----  Europe ----- */
li.europe {
  background: rgb(82, 230, 119);
}
li.europe:hover {
  background: rgb(73, 211, 108);
}

/* ---- Western Europe ----- */
/* li.western-europe {
  background: #4ff9ff;
}
li.western-europe:hover {
  background: #00f7ff;
} */

/* ---- Eastern Europe ----- */
/* li.eastern-europe {
  background: #37ffcd;
}
li.eastern-europe:hover {
  background: #00ffbf;
} */

/* ---- Southern Europe ----- */
/* li.southern-europe {
  background: #00ff40;
}
li.southern-europe:hover {
  background: #00ff40;
} */

/* ---- Asia ----- */
li.asia {
  background: #fdd017;
}
li.asia:hover {
  background: rgb(243, 198, 19);
}
/* ---- Africa ----- */
li.africa {
  background: #ff9864;
}
li.africa:hover {
  background: #ff884d;
}
/* ---- North America ----- */
li.north-america {
  background: #00d9ff;
}
li.north-america:hover {
  background: #01b3d3;
}
/* ---- South America ----- */
li.south-america {
  background: #7fffd4;
}
li.south-america:hover {
  background: #75ebc3;
}
/* ---- Central America ----- */
li.central-america {
  background: rgb(226, 191, 148);
}
li.central-america:hover {
  background: rgb(216, 173, 120);
}
/* ---- Australia ----- */
li.australia {
  background: #ff8783;
}
li.australia:hover {
  background: rgb(231, 88, 83);
}
/* ---- Antarctica ----- */
li.antarctica {
  background: #e7e7e7;
}
li.antarctica:hover {
  background: #d8d8d8;
}

/* ##### Favourites ##### */

/* ---- close button ----- */
.favourites li:hover:before {
  content: "\00D7";
  position: absolute;
  top: -0.5rem;
  right: -0.3rem;
  width: 1rem;
  height: 1rem;
  z-index: 2;
  text-align: center;
  line-height: 1.1;
  font-size: 0.9rem;
  vertical-align: middle;
  border-radius: 50%;
  background: #ff6347;
  border: solid 2px #fff;
  color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.favourites h2 {
  padding: 0.1rem 1rem;
  font-weight: 400;
  font-size: 1.3rem;
  margin-left: 1rem;
  color: #919090;
}
.favourites hr {
  border-bottom: 0;
  border-top: solid 1px #e6e6e6;
  margin: 1.5rem 0;
}
